{{ template "header" }}

    <div class="container margin-top">

      <form class="form" action="/api/login" method="post">
        <h2 class="form-heading">Please sign in</h2>
        
        {{ if .LoginFail }}
        <p style="color:red; text-align:center;">Username or password incorrect.</p>
        {{ end }}
        
        <input type="text" name="username" id="username" class="form-control" placeholder="Username" required autofocus>
        <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
        <!--<div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>-->
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>

    </div>
    
{{ template "footer" }}
