{{ template "header" . }}
   
<div class="container">

  <div class="blog-header">
    <h1 class="blog-title">New Story</h1>
  </div>

  <div class="row">
    <div class="container">
      <form action="/api/story" method="post" class="form">
        <input type="text" name="story" class="form-control" placeholder="Story Name" required>
        <input type="text" name="description" class="form-control" placeholder="Story Description">
        <textarea name="plot" class="form-control" rows="5" placeholder="Story Plot"></textarea>
        <button class="btn btn-primary form-control" type="submit">Submit</button>
      </form>
    </div>
  </div>

</div>

{{ template "footer" }}

<!--Use class "active" to change pointer on navbar-->
<script>
  document.getElementById("newStory").setAttribute("class", "active blog-nav-item");
</script>